<div *ngIf="currentFile" class="progress">
  <div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar" attr.aria-valuenow="{{progress.percentage}}"
    aria-valuemin="0" aria-valuemax="100" [ngStyle]="{width:progress.percentage+'%'}">
    {{progress.percentage}}%</div>
</div>
<br /><br />
<label class="btn btn-default">
  <input type="file" (change)="selectFile($event)">
</label>
<br /><br />
<button class="btn btn-primary btn-lg active" [disabled]="!selectedFiles" (click)="uploadFile()">Upload File</button>